@media (max-width: 767px) {
  .client_wrap .table--block thead {
    display: none;
  }
  .client_wrap .table--block tr {
    display: block;
    margin-bottom: 10px;
    border-top: none;
  }
  .client_wrap .table--block th,
  .client_wrap .table--block td {
    display: block;
    position: relative;
    padding: 10px;
    padding-left: 35%;
    border-width: 0 0 1px 0;
    min-height: 40px;
  }
  .client_wrap .table--block td:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    padding: 10px;
    background: #ccc;
  }
  .client_wrap .table--block td:nth-child(1):before {
    content: '회원이름';
  }
  .client_wrap .table--block td:nth-child(2):before {
    content: '연락처';
  }
  .client_wrap .table--block td:nth-child(3):before {
    content: '성별';
  }
  .client_wrap .table--block td:nth-child(4):before {
    content: '가입일';
  }
}
