.modal-body,
.modal-header {
  padding: 0;
}
.modal-footer {
  border: 0;
}

.client-infomation__detail--membership {
  background-color: #333;
  color: #fff;
  margin: 1.25rem 0;
  padding: 1.25rem;
  border-radius: 0.625rem;
}
.client-infomation__detail--membership2 {
  background-color: #333;
  color: #fff;
  margin: 0.625rem 0;
  padding: 1.25rem;
  border-radius: 0.625rem;
}
1 .rbc-calendar a {
  color: inherit;
}

.rbc-calendar a:hover {
  color: blue;
}

/* 회원상세/수정 */
.client__modal--information {
  line-height: 2.8rem;
}
.voucher {
  border-top: 1px solid #fff;
}

/* addclient css */
.route {
  border-top: 1px solid #fff;
  margin-top: 1.563rem;
  padding-top: 1.563rem;
}
.more {
  line-height: 1.5rem;
}

.add-client__form__route-text {
}

@media (max-width: 767px) {
  .client_wrap .table--block thead {
    display: none;
  }
  .client_wrap .table--block tr {
    display: block;
    margin-bottom: 10px;
  }
  .client_wrap .table--block th,
  .client_wrap .table--block td {
    display: block;
    position: relative;
    padding: 10px;
    padding-left: 35%;
    border-width: 0 0 1px 0;
    min-height: 40px;
  }
  .client_wrap .table--block td:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    padding: 10px;
    background: #fff;
    font-weight: 700;
    border-right: 1px solid #ccc;
    text-align: center;
  }
  .client_wrap .table--block td:nth-child(1):before {
    content: '회원이름';
  }
  .client_wrap .table--block td:nth-child(2):before {
    content: '연락처';
  }
  .client_wrap .table--block td:nth-child(3):before {
    content: '성별';
  }
  .client_wrap .table--block td:nth-child(4):before {
    content: '가입일';
  }
  .MuiTablePagination-toolbar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .client_modal .rbc-calendar {
    padding: 20px 0;
    border-radius: 10px;
  }
  .client_modal .modal-body {
    padding: 0;
  }
  .client_modal .modal-dialog {
    margin: 0;
  }
  .client_modal .modal-header {
    border-bottom: 0;
  }
  .client_modal .rbc-toolbar {
    flex-direction: column;
  }
  .client_modal .rbc-toolbar .rbc-toolbar-label {
    font-size: 1.6rem;
  }
  .client_modal .client__modal--information {
    border-bottom: 1px solid #fff;
    padding: 0 10px;
  }
  .rbc-agenda-table tbody tr .rbc-agenda-time-cell > span {
    display: block;
    white-space: normal;
    width: 5rem;
  }
}
