.clientSearch {
  background: #333;
  padding: 1rem 3rem;
  border-radius: 0.313rem;
  align-items: center;
  display: flex;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.clientSearch h4 {
  white-space: nowrap;
}

.clientSearch > div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: end;
}

.clientSearch > div span {
  padding: 6px 16px;
}

.clientSearch .react-datepicker-wrapper {
  width: auto;
}

.pageTit {
  background: #535353;
  padding: 1.25rem;
  border-radius: 0.313rem;
}

.pageTit > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTit div h4 {
  line-height: 2.5rem;
}

.pageTit p {
  color: #ccc;
}

/* 운동탭 */
.workoutTabs {
  padding: 0 16px;
}

.workoutTabstage {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.workoutTabs > div {
  padding: 0;
}
.workoutTabs Button {
  width: 100%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.workoutTabs__btn-active {
  background-color: #fff;
}

.sectionGlass h5 strong,
h4 span {
  color: #ebff2e;
}

/*
 운동 선택 - 배정 버튼
*/
.wrap .workout-alloted__select--plus {
  color: #c2c2c2;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s;
}

.wrap .workout-alloted__select--plus:hover {
  color: #0077fe;
}

.wrap .workout-alloted__select--plus:active {
  color: rgba(46, 46, 46, 1);
}
/*
배정된 운동목록 - 삭제 버튼
*/
.wrap .workout-alloted__selected--cencel {
  color: #c2c2c2;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s;
}

.wrap .workout-alloted__selected--cencel:hover {
  color: #dc3545;
}

.wrap .workout-alloted__selected--cencel:active {
  color: rgba(46, 46, 46, 1);
}

/**
* 연락처 입력 input 에 숫자 조작 화살표가 보이지 않게 만든다.
*/
/* Chrome, Safari, Edge, Opera */
.workout-alloted [type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.workout-alloted input[type='number'] {
  -moz-appearance: textfield;
}

/* 운동설정 */
