.clientSearch {
  background: #333;

  padding: 3rem;
  border-radius: 0.313rem;
}

.pageTit {
  background: #535353;
  padding: 1.25rem;
  border-radius: 0.313rem;
}

/* 운동탭 */
.workoutTabstage {
  border-bottom: 1px solid #fff;
}
.workoutTabs Button {
  border: 0;
}
.sectionGlass h5 strong,
h4 span {
  color: #ebff2e;
}
/* .workoutTabs .btn-table:hover {
  background: #fff;
  color: #222;
  border-radius: 5px 5px 0 0;
} */
/*
 운동 선택 - 배정 버튼
*/
.workout-alloted .workout-alloted__select--plus {
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s;
}

.workout-alloted .workout-alloted__select--plus:hover {
  /* background-color: rgba(235, 235, 46, 0.3); */
  /* background-color: #eee; */
  color: #bedd00;
}

.workout-alloted .workout-alloted__select--plus:active {
  color: rgba(46, 46, 46, 1);
}
/*
배정된 운동목록 - 삭제 버튼
*/
.workout-alloted .workout-alloted__selected--cencel {
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s;
}

.workout-alloted .workout-alloted__selected--cencel:hover {
  color: #dc3545;
}
.workout-alloted .workout-alloted__selected--cencel:active {
  color: rgba(46, 46, 46, 1);
}

/**
* 연락처 입력 input 에 숫자 조작 화살표가 보이지 않게 만든다.
*/
/* Chrome, Safari, Edge, Opera */
.workout-alloted [type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.workout-alloted input[type='number'] {
  -moz-appearance: textfield;
}

/* 운동설정 */
