.workoutRoutine {
  background: #222;
  border: 1px solid #888;
  border-radius: 0.625rem;
  padding: 3.125rem 2.5rem;
}

.addWorkout {
  /* width: 100%; */
  padding: 2.5rem 0.625rem;
  align-items: center;
  font-size: 20px;
  background: #222222;
}
