.myName,
.myInfo,
.fitInfo {
  background: #333;
  border-radius: 5px;
  padding: 30px;
  line-height: 30px;
}
.myInfo h4,
.fitInfo h4 {
  margin-bottom: 15px;
}

ul li:after {
  display: block;
  clear: both;
  content: '';
}
ul li strong {
  float: left;
  font-size: 16px;
}
ul li p {
  float: right;
}

@media screen and (max-width: 767px) {
  .myInfo {
    margin-bottom: 1rem;
  }
}
