.addExercise form {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #005;
}

.addExercise .container .input-row {
  width:100%;
}

.settingInfoInput {
  position:relative;
}

.contHeader {
  display:flex;
}

.label-description {
  width:20%;
  text-align: center;
}

.exercisePart {
  display:flex;
  align-items:center;
}

.exercisePart .part {
  display:flex;
}

.exercisePart .part label {
  display:flex;
  align-items:center;
}

.settingRoutin {
  display:flex;
  align-items:center;
}

.settingRoutin > div {
  display: flex;
  width:80%;
  justify-content: space-between;
}

.settingInfoInput form button {
  margin: 2rem auto;
}

.settingExerciseList {
  padding-top: 4rem;
  position: relative;
}

.settingExerciseList h3 {
  border-bottom: none;
}

.settingExerciseList .searchInputRow {
  position: absolute;
  top: 1rem;
  right: 0;
}