.defaultExercise .waySub {
	top: -2rem;
}

.defaultExercise > .container {
	min-height: 60rem;
	position: relative;
}

.defaultExercise > .container > div:nth-child(2) {
}

.defaultExercise > .container > button:last-child {
	margin: 3rem auto 0;
	width: 18rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.defaultExercise h3 {
	border-bottom: none;
	padding: 2rem 0 1rem;
}

.defaultExercise .defaultKind button {
	width: 20%;
}

@media (max-width: 767px) {
	.defaultKind {
		flex-wrap: wrap;
		justify-content: center;
	}
	.defaultExercise .defaultKind button {
		width: 33.3%;
	}
	.react-bs-table-container {
		width: 100%;
		overflow: auto;
	}
	.react-bs-table-container .tableContainer {
		min-width: 767px;
	}
}
