.dtc .dtc-result {
  background-color: #222;
}

.dtc__label {
}
.dtc__label-date {
  border: 1px solid;
  border-radius: 20px;
  padding: 12px;
}
.dtc__label-date span {
  padding: 1rem;
  font-weight: 800;
}

.dtc__risk-factor {
  font-size: 1.3rem;
  font-weight: bold;
  color: coral;
  padding: 6px;
}
.dtc__lamp-explain {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 20px;
}
.dtc__lamp-explain > div:nth-child(1) {
  color: coral;
}
.dtc__lamp-explain > div:nth-child(2) {
  color: gold;
}
.dtc__lamp-explain > div:nth-child(3) {
  color: lightgreen;
}
.dtc__lamp-box > .col {
  padding: 1rem 1.8rem;
}
.dtc__lamp {
  text-align: center;
}
.dtc__lamp .col:nth-child(3) {
  color: coral;
  padding-right: calc(var(--bs-gutter-x) * 0.0002);
}
.dtc__lamp .col:nth-child(4) {
  color: gold;
  padding-left: calc(var(--bs-gutter-x) * 0.25);
  padding-right: calc(var(--bs-gutter-x) * 0.25);
}
.dtc__lamp .col:nth-child(5) {
  color: lightgreen;
  padding-left: calc(var(--bs-gutter-x) * 0.0002);
}
.dtc__lamp img {
  border-radius: 50%;
}

.dtc-add input {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .dtc-result-utill .customer_name {
    width: auto;
  }
  .dtc-result-utill {
    text-align: center;
  }
  .dtc-result-utill__modify {
    text-align: end;
  }

  .dtc__label-date {
    margin-bottom: 6px;
  }
  .dtc-result-utill__modify button {
    width: 100%;
  }
}
