.reservation__class-table--td {
  cursor: pointer;
  transition: background-color 0.3s;
}

.reservation__class-table--td:hover {
  background-color: rgba(235, 235, 46, 0.5);
}

.reservation__class-table--td:active {
  background-color: rgba(235, 235, 46, 0.7);
}

.reservationWrap .MuiInput-underline:before {
  border-bottom: none;
}

.reservationWrap label + .MuiInput-formControl {
  margin-top: 16px;
  font-size: 1.6rem;
}

#root .MuiInputLabel-formControl {
  font-weight: bold;
}

.reservationWrap .MuiInputBase-input {
  text-align: center;
  font-weight: bold;
}

.reservationWrap
  .MuiInputLabel-formControl
  .reservationWrap
  .usersearchButton
  #customer_name {
  border: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.reservationWrap .usersearchButton .MuiFormControl-root:hover {
  background-color: #9dcdff;
  transition: all linear 0.2s;
}

.reservationWrap .datepickerButton .react-datepicker-wrapper {
  height: 100%;
  width: 100%;
}
.reservationWrap .datepickerButton .react-datepicker__input-container {
  height: 100%;
}
.reservationWrap .datepickerButton .react-datepicker__input-container > input {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #0f78ff;
}

.reservationWrap
  .datepickerButton
  .react-datepicker__input-container
  > input:hover {
  background-color: #e0efff;
  transition: all linear 0.2s;
}

.reservationWrap .deleteButton {
  margin: 6px;
  height: 34px;
  padding: 0 24px;
  font-weight: normal;
  color: white;
  background-color: tomato;
}
.reservationWrap .rdt_TableCol {
  justify-content: center;
}

.reservationWrap .rdt_TableCell {
  justify-content: center;
}

.reservationWrap .rdt_TableCell > div {
  padding: 0;
  width: 100%;
  text-align: center;
}

/* 진행중인 수업 __ 선택된 수업 __ 인풋 박스 */
.reservation__selected-class {
  height: 5rem;
}

/* 진행중인 수업 - 선택된 수업 - 회원 검색 */
.reservationWrap .MuiFormControl-root {
  background-color: #fff;
}

.reservationWrap .MuiTextField-root .MuiFormLabel-root {
  color: rgba(0, 0, 0, 1);
  top: 10px;
  left: 14px;
}

.MuiInputBase-formControl > #customer_name {
  font-size: 1.4rem;
  -webkit-text-fill-color: #000;
}

.reservationWrap .MuiTextField-root > .MuiInputBase-formControl {
  margin-top: 4px;
}
