.reservationClassWrap .MuiInputBase-input {
  text-align: center;
}

/*
* 텍스트 인풋 라벨 위치 조정
*/
.reservationClassWrap .MuiInputBase-input {
  padding-bottom: 16px;
}

.reservationClassWrap .MuiFormLabel-root {
  padding-left: 50px;
}

.reservationClassWrap .react-datepicker__input-container input[type='text'] {
  padding-top: 17px;
  padding-bottom: 17px;
}

.reservationClassWrap .MuiTextField-root {
  background-color: #fff;
  border-radius: 10px;
}

.reservation-class--trainer-input {
  background-color: #fff;
  transition: background-color 0.5s;
}

/* 강사 검색 인풋 */
.reservation-class--trainer-input #trainer {
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  padding-top: 0;
  padding-bottom: 15px;
}

.reservation-class--trainer-input:hover {
  /* border-radius: 10px; */
  background-color: rgba(246, 246, 80, 1);
}
