.reservationWrap .MuiInput-underline:before {
  border-bottom: none;
}

.reservationWrap label + .MuiInput-formControl {
  margin-top: 16px;
  font-size: 1.6rem;
}

.reservationWrap .MuiInputLabel-formControl {
  width: 100%;
  font-weight: bold;
  color: #0f78ff;
}

.reservationWrap .MuiInputBase-input {
  text-align: center;
  font-weight: bold;
}

.reservationWrap
  .MuiInputLabel-formControl
  .reservationWrap
  .usersearchButton
  #customer_name {
  border: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.reservationWrap .usersearchButton .MuiFormControl-root:hover {
  background-color: #9dcdff;
  transition: all linear 0.2s;
}

.reservationWrap .datepickerButton .react-datepicker-wrapper {
  height: 100%;
  width: 100%;
}
.reservationWrap .datepickerButton .react-datepicker__input-container {
  height: 100%;
}
.reservationWrap .datepickerButton .react-datepicker__input-container > input {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #0f78ff;
}

.reservationWrap
  .datepickerButton
  .react-datepicker__input-container
  > input:hover {
  background-color: #e0efff;
  transition: all linear 0.2s;
}

.reservationWrap .deleteButton {
  margin: 6px;
  height: 34px;
  padding: 0 24px;
  font-weight: normal;
  color: white;
  background-color: tomato;
}
.reservationWrap .rdt_TableCol {
  justify-content: center;
}

.reservationWrap .rdt_TableCell {
  justify-content: center;
}

.reservationWrap .rdt_TableCell > div {
  padding: 0;
  width: 100%;
  text-align: center;
}
