/* 
* 수업 만들기 시간표 목록
*/
/* thead 폰트 컬러 */
.reservationClassWrap .table thead tr th {
  color: #eee;
}
/* tbody 폰트 컬러 */
.reservationClassWrap tbody tr td {
  color: #fff;
}

.reservationClassWrap .MuiInputBase-input {
  text-align: center;
}

/* 
* 수업 만들기 인풋 폼
*/

/*
* 텍스트 인풋 라벨 위치 조정
*/
.reservationClassWrap .MuiInputBase-input {
  padding-bottom: 16px;
}

.reservationClassWrap .MuiFormLabel-root {
  padding-left: 50px;
}

.reservationClassWrap .react-datepicker__input-container input[type='text'] {
  padding-top: 19px;
  padding-bottom: 20px;
}

.reservation-class--trainer-input {
  background-color: #fff;
  transition: background-color 0.5s;
  cursor: pointer;
}

/* 강사 검색 인풋 */
.reservation-class--trainer-input #trainer {
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  padding-top: 0;
  padding-bottom: 15px;
}

.reservation-class--trainer-input:hover {
  /* border-radius: 10px; */
  background-color: rgba(246, 246, 80, 1);
}

.reservation-class__schedule-content {
  border: 1px solid #fff;
  padding: 5px 0;
  margin: 2px 0;
  text-align: center;
  cursor: pointer;
}
.reservation-class__schedule-content:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
