.Navigation {
    width:100%;
    min-width:1080px;
    background-color:rgb(0, 0, 82);
    display:flex;
}

.Navigation > .navbar {
    display:flex;
    justify-content:center;
    align-items:center;
    width:1080px;
    margin:0 auto;
    flex-direction:row;
}

.navbar-brand{
    flex-grow: 2;
    height:auto;
}


:local(.navitem) {
/*    color:rgb(255, 255, 255) !important;*/
    flex-grow: 6;
    color:#fff;
    justify-content:space-around;
}

:local(.navUtill){
    flex-grow: 2;
    align-items:center;
    justify-content:flex-end;
    text-align:center;
}