@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.MuiDrawer-root li a {
  color: #000;
}

html {
  font-size: 16px;
  word-break: break-word;
  letter-spacing: -0.05rem;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Noto Sans KR', sans-serif,
    'Nanum Gothic', sans-serif;
  background-color: #000;
  color: #fff;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

h3 {
  /* border-bottom: 1px solid #ebff2e; */
  padding-bottom: 0.6rem;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #ebff2e;
}

p {
  margin: 0;
}

.height-fit-content {
  height: fit-content;
}

.width-inherit {
  width: inherit;
}

.white-space-break-spaces {
  white-space: break-spaces;
}
