/* 포인트 커서 단축 클래스 */
.cursor-pointer {
  cursor: pointer;
}

/* 회원 검색 인풋 */
.clientSearch .MuiTextField-root {
  border-radius: 0.313rem;
  border: 1px solid #fff;
}
.customer-input--search {
  cursor: pointer;
  transition: background-color 0.4s;
}
.customer-input--search .MuiInputBase-input {
  color: #fff;
  /* left: 30%; */
}
.MuiInputBase-input {
  color: #fff;
  /* left: 30%; */
}
.customer-input--search #customer_name {
  font-size: 1.2rem;
  -webkit-text-fill-color: #ffff;
  text-align: start;
}
.customer-input--search:hover {
  background-color: rgba(255, 255, 160, 1);
}
.customer-input--search:active {
  background-color: rgba(255, 255, 160, 0.2);
}

.Dropdown-control {
  border: 0;
}

/* 
boxmorpsm bg-white h-100 w-100 text-center pb-2 px-5 
 */

/**
* 연락처 입력 input 에 숫자 조작 화살표가 보이지 않게 만든다.
*/
/* Chrome, Safari, Edge, Opera */
input[id='phone']::-webkit-outer-spin-button,
input[id='phone']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[id='phone'][type='number'] {
  -moz-appearance: textfield;
}

/*데이터피커 크기조절*/
.react-datepicker {
}
.react-datepicker__current-month {
  /* line-height: 3rem; */
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  /* width: 3rem;
  line-height: 3rem; */
}
.react-datepicker__header {
  /* padding-top: 4px; */
}
/* 달력 데이터 피커 인풋 박스 크기 */
.react-datepicker__input-container input[type='text'] {
  background: transparent;
  color: #fff;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* 달력 데이터 피커 분류(당일, 1개월) */
.container .dateSort {
  /* align-self: auto; */
}
/* 세로 형식 인풋 박스 */
/* 체크박스 가로형 5개 */
/* 세로형 인풋박스 길이 */
/* 검색 인풋 컴포넌트 가로형*/

/* 드롭다운 메뉴 아래 화살표 위치 */
.Dropdown-arrow {
  top: 1.2rem;
}
/* 달력 셀렉터 */

.container .react-datepicker .react-datepicker__navigation {
  /* width: 2rem;
  height: 2rem;
  border: 1rem solid transparent;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; */
}
.container .react-datepicker .react-datepicker__navigation--previous {
  border-right-color: #ccc;
  /* margin: 0; */
}
.container .react-datepicker .react-datepicker__navigation--next {
  border-left-color: #b3b3b3;
  /* margin: 0; */
}
html .MuiOutlinedInput-notchedOutline {
  border: none;
}

html .MuiInputLabel-outlined {
  transform: translate(0.3rem, 1.3rem) scale(1);
}

/*신규회원등록*/
.container .MuiOutlinedInput-input {
  padding: 0;
}
.container .react-datepicker-popper {
  z-index: 2;
}

input {
  height: 2.8rem;
}

.form-control {
  border: none;
}

/* 목록검색 */
.sch_list {
  width: 100%;
  height: 2.8rem;
  background: #fff;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}
.sch_list > .searchDrop {
  border: 0;
  width: 117px;
  margin-right: 1rem;
}
.sch_list > input {
  width: 80%;
  border: none;
}

/*
* 회원 검색
*/
#customer_name {
  cursor: pointer;
  font-weight: bold;
}
#customer_name-label {
  color: #fff;
  font-size: 1.1rem;
  text-indent: 1.7rem;
}
/**
* 강사 검색
*/
#trainer {
  cursor: pointer;
  -webkit-text-fill-color: rgba(30, 30, 250, 1);
  font-weight: bold;
}
