.wrap {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto 20rem;
	padding: 3rem 0.5rem;
}

section {
	padding: 4rem 0 3rem;
}

.localNavigation .container {
	margin: 0 auto;
}

.flexbetween {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

h5 {
	display: flex;
	font-size: 2.3rem;
	font-weight: 700;
	align-items: center;
}

h5 .parallelogram {
	height: 2.8rem;
	margin-right: 1.2rem;
}

h6 {
	display: flex;
	font-size: 3rem;
	font-weight: 400;
	align-items: center;
}

h6 .circle {
	margin-right: 1rem;
}

.sectionGlass {
	border-radius: 2.5rem;
	padding: 4rem 3rem;
	margin-top: 3rem;
	box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
}
