body {
  /* background-color: rgb(222, 234, 246) !important; */
}

.login_wrap {
  width: 470px;
  margin: 0 auto;
}

#root > div {
  margin-bottom: 2rem;
}

.morpback {
  background-color: rgb(222, 234, 246);
}

.boxmorpin {
  box-shadow: rgb(190, 203, 216) 9px 9px 18px 0px inset,
    rgb(243, 249, 255) -9px -9px 18px 0px inset;
  -webkit-box-shadow: rgb(190, 203, 216) 9px 9px 18px 0px inset,
    rgb(243, 249, 255) -9px -9px 18px 0px inset;
  border-radius: 22px;
  -webkit-border-radius: 22px;
}

.boxmorpinsm {
  box-shadow: rgb(190, 203, 216) 5px 5px 10px 0px inset,
    rgb(243, 249, 255) -5px -5px 10px 0px inset;
  -webkit-box-shadow: rgb(190, 203, 216) 5px 5px 10px 0px inset,
    rgb(243, 249, 255) -5px -5px 10px 0px inset;
  border-radius: 13px !important;
  -webkit-border-radius: 13px !important;
  border: 0 !important;
}

.boxmorp {
  box-shadow: rgb(190, 203, 216) 9px 9px 18px 0px,
    rgb(243, 249, 255) -9px -9px 18px 0px;
  -webkit-box-shadow: rgb(190, 203, 216) 9px 9px 18px 0px,
    rgb(243, 249, 255) -9px -9px 18px 0px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
}

.boxmorpsm {
  box-shadow: rgb(190, 203, 216) 5px 5px 10px 0px,
    rgb(243, 249, 255) -5px -5px 10px 0px;
  -webkit-box-shadow: rgb(190, 203, 216) 5px 5px 10px 0px,
    rgb(243, 249, 255) -5px -5px 10px 0px;
  border-radius: 13px !important;
  -webkit-border-radius: 13px !important;
}

.redboxmorp {
  box-shadow: rgb(255, 138, 138) 9px 9px 18px 0px,
    rgb(255, 192, 192) -9px -9px 18px 0px;
  -webkit-box-shadow: rgb(255, 138, 138) 9px 9px 18px 0px,
    rgb(255, 192, 192) -9px -9px 18px 0px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
}
.redboxmorpsm:active {
  /* background-color: rgb(240, 244, 248); */
  box-shadow: rgba(255, 138, 138, 0.5) 5px 5px 10px 0px inset,
    rgb(255, 192, 192) -5px -5px 10px 0px inset;
  -webkit-box-shadow: rgba(255, 138, 138, 0.5) 5px 5px 10px 0px inset,
    rgb(255, 192, 192) -5px -5px 10px 0px inset;
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
}

.redboxmorpsm {
  box-shadow: rgb(255, 138, 138) 5px 5px 10px 0px,
    rgb(255, 192, 192) -5px -5px 10px 0px;
  -webkit-box-shadow: rgb(255, 138, 138) 5px 5px 10px 0px,
    rgb(255, 192, 192) -5px -5px 10px 0px;
  border-radius: 13px !important;
  -webkit-border-radius: 13px !important;
}

.primorpsm {
  box-shadow: rgb(125, 169, 216) 5px 5px 10px 0px,
    rgb(217, 236, 255) -5px -5px 10px 0px;
  -webkit-box-shadow: rgb(125, 169, 216) 5px 5px 10px 0px,
    rgb(217, 236, 255) -5px -5px 10px 0px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  border: 0 !important;
}

.primorpinsm {
  box-shadow: rgb(125, 169, 216) 5px 5px 10px 0px inset,
    rgb(217, 236, 255) -5px -5px 10px 0px inset;
  -webkit-box-shadow: rgb(125, 169, 216) 5px 5px 10px 0px inset,
    rgb(217, 236, 255) -5px -5px 10px 0px inset;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  border: 0 !important;
}

.complemorp {
  box-shadow: rgb(190, 203, 216) 6px 6px 12px 0px inset,
    rgb(243, 249, 255) -6px -6px 12px 0px inset;
  -webkit-box-shadow: rgb(190, 203, 216) 6px 6px 12px 0px inset,
    rgb(243, 249, 255) -6px -6px 12px 0px inset;
  border-radius: 13px !important;
  -webkit-border-radius: 13px !important;
}

.boxmorpsm:active {
  /* background-color: rgb(240, 244, 248); */
  box-shadow: rgba(173, 187, 208, 0.5) 5px 5px 10px 0px inset,
    rgb(255, 255, 255) -5px -5px 10px 0px inset;
  -webkit-box-shadow: rgba(173, 187, 208, 0.5) 5px 5px 10px 0px inset,
    rgb(255, 255, 255) -5px -5px 10px 0px inset;
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
}

.circlemorp {
  border-radius: 50%;
  text-align: center;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

html,
body {
  height: 100%;
}

#root > div > div {
  position: relative;
  padding-bottom: 100px;
}

.wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 12rem;
  padding: 3rem 0.5rem;
}

section {
  padding: 4rem 0 3rem;
}

.localNavigation .container {
  margin: 0 auto;
}

.flexbetween {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

h5 {
  display: flex;
  font-weight: 700;
  align-items: center;
}

h5 .parallelogram {
  height: 2.8rem;
  margin-right: 1.2rem;
}

h6 {
  display: flex;
  font-weight: 400;
  align-items: center;
}

h6 .circle {
  margin-right: 1rem;
}

.sectionGlass {
  border-radius: 2.5rem;
  padding: 4rem 3rem;
  margin-top: 3rem;
  box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
}

@media (max-width: 767px) {
  .container section {
    padding: 2rem;
  }
}
