/* 버튼 크기 */
.MuiTable-root button {
  border-radius: 31px;
}
/* 테이블 헤더 */

/* 테이블 셀 사이즈 */

/* 상품/매출 테이블 필터 크기 조절 */
.sales .css-b8ldur-Input input[type='text'] {
  height: 0.2rem;
}
/* 닫기 버튼 */
.MuiPaper-root .MuiDialogActions-spacing {
  justify-content: center;
}
.MuiDialogContent-root {
  min-width: 550px;
}

/* bootstrap button */
.btn-primary {
  width: 12.5rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  background-color: #ebff2e;
  color: #222;
}
.btn-primary:hover {
  background-color: #d6ec0f;
  color: #000;
  border-color: #bbb;
}
.btn-primary:focus {
  background-color: #d6ec0f;
  color: #000;
  border-color: #bbb;
}
.btn-primary:disabled {
  background-color: #ebff2e;
  border-color: #ebff2e;
  color: #444;
}

.btn-primary-dark {
  width: 12.5rem;
  height: 2.8rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
/* 닫기 취소 */

.btn-paidControl {
  width: 12.5rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  background: #d9d9d9;
  color: #888;
}
.btn-paidControl:hover {
  background: #ebff2e;
  color: #222;
}

/* 이용권 버튼 */
.btn-secondary {
  width: 12.5rem;
  height: 2.8rem;
  background: #888;
}
.btn-secondary:hover {
  background: #666;
  border: 1px solid #888;
}

.btn-outline-primary {
  width: 12.5rem;
  height: 2.8rem;
  color: #ebff2e;
  border-color: #ebff2e;
}

.btn-outline-primary:hover {
  color: #000;
  background-color: #ebff2e;
  border-color: #ebff2e;
}

.outline-primary-dark {
  color: #222;
  border-color: #222;
}

.outline-primary-dark:hover {
  background-color: #ebff2e;
  color: #000;
  border-color: #bbb;
}

.btn-outline-secondary {
  width: 61px;
  background-color: #888;
  color: #fff;
}

.btn-outline-danger {
  width: 6.25rem;
  padding: 0;
  line-height: 1.87rem;
}
.btn-table {
  color: #fff;
  text-align: center;
  padding: 15px 40px;
  border-radius: 5px 5px 0 0;
}
/* btn-table 탭 기능 적용시 삭제가능 */
.btn-table:hover {
  background: #fff;
  color: #222;
  border-radius: 5px 5px 0 0;
}
.btn-table:active {
  background: #fff;
  color: #222;
}

/* bootstrap text */
.text-primary {
  color: #ebff2e !important;
}
/* bootstrap card */
.card {
  background-color: rgba(83, 83, 83, 0.8);
  border: none;
  margin-bottom: 12px;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.85);
}
.card-footer:last-child {
  background-color: #222;
  color: #999;
}
/* bootstrap modal */
.modal-header {
  border: none;
}
.modal-content {
  padding: 3.125rem;
  background-color: #222;
}
.close {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  float: right;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: 0.5;
}
.close > span:last-child {
  display: none;
}

/* calender */
.rbc-calendar {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 20px;
}

/* bootstrap nav */
.nav-link {
  color: unset;
}
.nav-link:hover {
  color: unset;
}

@media (max-width: 767px) {
  .customerSearch {
    flex-direction: column;
    position: sticky;
    left: 0;
    right: 0;
  }
  .MuiDialog-root .Dropdown-root {
    width: 80%;
  }
  .MuiDialog-root input[type='text'] {
    width: 80%;
  }
  .MuiTable-root .MuiTableCell-head {
    padding: 5px 0;
  }
  .customerSearch button {
    width: 80%;
    align-self: center;
  }
  /* 고객 검색 모바일 너비 */
  .user-search .MuiDialogContent-root {
    min-width: auto;
  }
  .user-search .Dropdown-root {
    width: 100%;
  }
  .user-search #search {
    width: 100%;
    padding: 10px;
  }
  .modal-content {
    padding: 2rem 1rem;
  }
}
