.reservationWrap .row .MuiInputLabel-formControl {
	font-size: 2.2rem;
	top: 11px;
	left: 22px;
}

.reservationWrap .react-datepicker__tab-loop {
	position: absolute;
	top: 0;
	left: 0;
}

.reservationWrap .customerResi {
	font-size: 2.2rem;
	padding: 0 32px;
}

.reservationWrap .react-datepicker__input-container input[type='text'] {
	width: 20rem;
}
.reservationWrap .list-group-item .table tr td {
	text-align: center;
}
.reservationWrap .list-group-item .table tr th {
	width: auto;
	text-align: center;
}
.reservationWrap .list-group-item .table tr th:nth-child(1) {
	width: 14rem;
}
.reservationWrap .list-group-item .table tr th:nth-child(2) {
	width: 14rem;
}
.reservationWrap .list-group-item .table tr th:nth-child(3) {
	width: 9rem;
}
.reservationWrap .list-group-item .table tr th:nth-child(4) {
	width: 5rem;
}
.reservationWrap .list-group-item .table tr th:nth-child(5) {
	width: 14rem;
}
.reservationWrap .list-group-item .table tr th:nth-child(6) {
	width: 6rem;
}

.reservationWrap label + .MuiInput-formControl {
	margin-top: 0;
}

.reservationWrap .MuiInputLabel-formControl {
	/* position: relative; */
	top: 8px;
	left: 21px;
	font-size: 2.2rem;
	font-weight: bold;
	color: #0f78ff;
}

.reservationWrap .selectButton {
	height: fit-content;
	padding: 6px 26px;
}

/* .reservationWrap .usersearchButton #customer_name {
	border: 0;
	margin: 0;
	padding: 0;
}
.reservationWrap .usersearchButton .MuiFormControl-root {
	display: block;
}

.reservationWrap .usersearchButton label + .MuiInput-formControl {
	height: 100%;
} */

.reservationWrap .usersearchButton {
	min-height: 7.4rem;
}
.reservationWrap .usersearchButton label + .MuiInput-formControl {
	height: 9rem;
}
.reservationWrap .usersearchButton #customer_name {
	border: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	font-size: 2.4rem;
	font-weight: bold;
	cursor: pointer;
}

.reservationWrap .usersearchButton .MuiFormControl-root:hover {
	background-color: #e0efff;
	transition: all linear 0.2s;
}

.reservationWrap .datepickerButton .react-datepicker-wrapper {
	height: 100%;
	width: 100%;
}
.reservationWrap .datepickerButton .react-datepicker__input-container {
	height: 100%;
}
.reservationWrap .datepickerButton .react-datepicker__input-container > input {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	cursor: pointer;
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
	color: #0f78ff;
}

.reservationWrap
	.datepickerButton
	.react-datepicker__input-container
	> input:hover {
	background-color: #e0efff;
	transition: all linear 0.2s;
}

.reservationWrap .deleteButton {
	font-size: 1.8rem;
	margin: 6px;
	height: 34px;
	padding: 0 24px;
	font-weight: normal;
	color: white;
	background-color: tomato;
}
.reservationWrap .rdt_TableCol {
	justify-content: center;
}

.reservationWrap .rdt_TableCell {
	justify-content: center;
}

.reservationWrap .rdt_TableCell > div {
	padding: 0;
	width: 100%;
	text-align: center;
}
.reservationWrap .classListTable tr td {
	vertical-align: middle;
}
.reservationWrap .classListTable tr th:nth-child(2) {
	width: 100px;
}
.reservationWrap .classListTable tr th:nth-child(3) {
	width: 120px;
}
.reservationWrap .classListTable tr th:nth-child(4) {
	width: 120px;
}
.reservationClassWrap table tr {
	text-align: center;
}
.reservationClassWrap table tr td {
	vertical-align: middle;
}
.reservationClassWrap table tr td:nth-child(2) {
	width: 100px;
}
.reservationClassWrap table tr td:nth-child(3) {
	width: 80px;
}
.reservationClassWrap table tr td:nth-child(4) {
	width: 80px;
}

.reservationClassWrap table tr td:nth-child(5) {
	width: 120px;
}
.reservationClassWrap table tr td:nth-child(6) {
	width: 120px;
}
.reservationClassWrap .classModifyTable td:nth-child(1) input {
	width: 100%;
	border-radius: 10px;
	height: 36px;
	text-align: center;
}
.reservationClassWrap .classModifyTable td:nth-child(2) input {
	width: 70px;
	text-align: center;
}
.reservationClassWrap .classModifyTable td:nth-child(3) {
	width: 80px;
}
.reservationClassWrap .classModifyTable td:nth-child(3) input {
	width: 60px;
	text-align: center;
}
.reservationClassWrap .classModifyTable td:nth-child(4) {
	width: 150px;
}
.reservationClassWrap .classModifyTable td:nth-child(4) input {
	width: 50px;
	text-align: center;
}
.reservationClassWrap .MuiInputLabel-formControl {
	top: 10px;
	left: 30px;
}
.reservationClassWrap
	.classInputRow
	.MuiFormControl-root:nth-child(1)
	> div
	> input {
	width: 100%;
}
.reservationClassWrap .classInputRow .MuiFormControl-root:nth-child(2) {
	width: 130px;
}
.reservationClassWrap .classInputRow .MuiFormControl-root:nth-child(3) {
	width: 70px;
}
.reservationClassWrap .classInputRow .MuiFormControl-root:nth-child(4) {
	width: 70px;
}
.reservationClassWrap .btnSolid {
	max-width: 20rem;
}
@media screen and (max-width: 767px) {
	.reservationWrap .customerResi {
		padding: 0;
	}
	.reservationWrap .react-datepicker__input-container input[type='text'] {
		width: 13rem;
	}
	.reservationWrap .react-datepicker-wrapper {
		width: auto;
	}
	.reservationWrap > .row > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.reservationWrap > .row > div:nth-child(3) {
		display: block;
	}
	.reservationWrap .classListTable tr th:nth-child(2) {
		width: 80px;
	}
	.reservationWrap .classListTable tr th:nth-child(3) {
		width: 80px;
	}
	.reservationWrap .classListTable tr th:nth-child(4) {
		width: 80px;
	}
}
