.updateCustomer .formAddCustomer .customerRoute {
  padding-bottom:1rem;
}

.updateCustomer .formAddCustomer .customerUpdateOther {
  width:100%;
  padding-bottom:4rem;
  display:flex;
}

.updateCustomer .formAddCustomer .customerUpdateOther span {
  padding:0 1rem 0 2.4rem;
  text-align:center;
}

.updateCustomer .formAddCustomer .customerUpdateOther input {
  width:82%;
}