.introduce__article {
  text-align: center;
}

.introduce__article--header {
  text-align: start;
  vertical-align: center;
  background-color: #888;
  padding: 1.25rem;
  margin-bottom: 1.875rem;
  font-size: 26px;
  font-weight: 700;
  border-radius: 0.313rem;
  align-items: center;
}
.introduce__article--header p {
  font-size: 16px;
  font-weight: 400;
}

.introduce__article--img-box {
}

.introduce__article--img-box img {
  /*   border-radius: 0.313rem; */
  width: 100%;
}

.introduce__article--text-box {
  margin: 30px 24px;
  white-space: pre-wrap;
  text-align: start;
}

.introduce__article--link {
  margin: 30px 24px;
  text-align: start;
}

input[type='file']::file-selector-button {
  width: 8.036rem;
  height: 2.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 2.5rem;
  margin-right: 0.625rem;
}
.input_tit > h5 {
  line-height: 2.5rem;
}

@media screen and (max-width: 767px) {
  .btnBox button {
    margin-bottom: 1rem;
  }
}
