.introduce__article {
  text-align: center;
}

.introduce__article--header {
  text-align: start;
  background-color: #888;
  padding: 12px 10px 2px 10px;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}

.introduce__article--img-box {
}

.introduce__article--img-box img {
  width: 100%;
}

.introduce__article--text-box {
  margin: 30px 24px;
}

input[type='file']::file-selector-button {
  width: 129px;
  height: 40px;
  border: 1px solid #fff;
  background: #222;
  color: #fff;
  border-radius: 40px;
  margin-right: 10px;
}
