.container .auth {
  display: flex;
  flex-basis:31.8rem;
  margin:0 auto;
  padding-top:10rem;
  padding-bottom:20rem;
  flex-direction: column;
  align-items: center;
}
.welcomeMent {
  width:31.8rem;
  font-size:2rem;
  font-weight:400;
  padding-bottom:2rem;
}
.welcomeMent p:first-child {
  font-size:3.6rem;
  line-height:3.6rem;
  padding-left:0.3rem;
  font-weight:300;
}
.welcomeMent p:nth-child(2) {
  font-size:4.4rem;
  line-height:5.5rem;
  font-weight:600;
}
.welcomeMent p:last-child {
  padding-left:0.5rem;
  font-weight:500;
}

.auth .logo {
  display:none;
}

.auth .card {
  width:31.8rem;
  border:none;
  font-size:2rem;
  line-height:2.8rem;
}
.auth .card .row {
  display:flex;
  flex-direction:column;
  align-items:center;
}
.auth .card .row input {
  width:31.8rem;
  height:4rem;
  border-radius:1rem;
  border:1px solid #999;
  margin-bottom:0.8rem;
  text-indent:1rem;
  color:#777;
}
.auth .card .row .btn {
  margin-top:2rem;
  display:block;
  width:31.8rem;
  height:4rem;
  border-radius:1rem;
  background-color:#000055;
  font-size:1.6rem;
  color:#fff;
}