.authentication .card-body {
  /* padding-top: 6rem; */
}

.authentication .btn-register {
  color: #fff;
  background-color: transparent;
}

.authentication .authentication__login-button {
  /* border-radius: 50%; */
  padding: 0;
  width: 83px;
  height: 36px;
}

.authentication .login__authentication__id--box {
  background-color: #333;
  border-color: #777;
  color: #fff;
}
.authentication .login__authentication__password--box {
  background-color: #333;
  border-color: #777;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .authentication .card-body {
    /*  padding-top: 18px; */
  }
}
