.login .login__local-navigation {
  background-color: #000;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.login_logo {
  height: 60px;
  animation: rotate_image 18s linear infinite;
  transform-origin: 50% 50%;
}
/* main */
.mainVisual {
  background-image: url(/public/assets/home__main-visual.jpg);
  background-size: cover;
}
.btn-register {
  color: #fff;
}

.login__main-visual--box {
  /* background-image: url(/public/assets/home__main-visual.jpg);
  background-size: cover; */
  height: 370px;
  padding-top: 170px;
  position: relative;
}
.login__main-visual--box > p {
  margin-left: 40px;
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 500;
}
.login__main-visual--image {
  width: 100%;
}
.login__main-visual--logo {
  position: absolute;
  bottom: -50px;
  left: 50px;
  height: 154px;
}

.login__introduce {
  background-color: #333;
}
.login__introduce__title {
  color: #999;
  justify-content: center;
  padding-bottom: 60px;
  font-weight: 400;
}
.login__introduce__title--brand {
  font-weight: 700;
  font-style: italic;
  padding-right: 6px;
  font-size: 50px;
}
.login__introduce__title--text {
  align-self: center;
}
.login__introduce .card-body {
  background-color: #333;
}

@media screen and (max-width: 767px) {
  .login_logo {
    height: 45px;
  }
  .login__main-visual--box {
    height: 175px;
    padding-top: 16px;
  }
  .login__main-visual--box > p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .login__main-visual--logo {
    bottom: -19px;
    height: 100px;
    left: 12px;
  }
  .login__introduce__title {
    font-size: 38px;
    padding-bottom: 16px;
  }
  .login__introduce__title--text {
    font-size: 16px;
  }
  .login__introduce__title--brand {
    align-self: normal;
    font-size: 40px;
  }
  .login__introduce-card .card-title {
    font-weight: 700;
    text-align: center;
  }
  .login__introduce-card .card-text {
    line-height: 22px;
    padding-bottom: 6px;
  }
}
