.register .resigterVisual {
	width: 100%;
	height: 11rem;
	background-image: url(/src/images/resiVisual.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.register > .container > form > ul {
	display: flex;
	flex-wrap: wrap;
	margin: 3rem 15rem 0;
}

.register > .container > form > ul li {
	width: 50%;
	display: flex;
	justify-content: center;
	margin: 2.6rem 0;
}

.register .MuiFormLabel-root {
	color: #0f78ff;
}

.register .MuiInput-underline:before {
	border-bottom: 1px solid #0f78ff;
}

.register > .container > form > div {
}

.register > .container > form input[type='text'] {
	width: 30rem;
	height: auto;
	border: none;
	margin: 0;
}

.register > .container > form input[type='password'] {
	width: 30rem;
	border: none;
	margin: 0;
}

.register .registerId {
}

.register > .container form .overlapCheck {
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.register form .overlapCheck .btnSolid {
	height: 4rem;
	border-radius: 2rem;
	width: auto;
	font-size: 1.8rem;
	font-weight: 400;
	margin: 0;
}

.register > .container form .overlapCheck label {
	width: 100%;
	font-size: 2rem;
	font-weight: 300;
	color: #0f78ff;
	margin: 0;
}

.register .btnSolid {
	margin-top: 8rem;
	width: 36rem;
	height: 5rem;
	font-size: 2.4rem;
	font-weight: 500;
}
