.register > .container > form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.register > .container > form > div {
	align-self: center;
	width: 50%;
}

.register > .container > form input {
	width: 40rem;
	height: 6rem;
}

.register .registerId {
}

.register .overlapCheck {
	height: 5rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
}

.register .btnSolid {
	margin-top: 2rem;
	width: 40rem;
	height: 6rem;
	font-size: 2.4rem;
	font-weight: 500;
}
