.home > .container {
  margin: 0rem auto 16rem;
  padding-bottom: 15rem;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.home .localNavigation {
  height: 4.2rem;
}

.home .dashboard {
  padding: 0;
  width: 100%;
  /* position: absolute;
	top: 0;
	left: 0;
	right: 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

.home .dashboard > div {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
}

.home .dashboard > div label:last-child span {
  color: #fff;
}

.home .dashboard .homeDashLeft label {
  justify-content: center;
  flex-direction: column;
}

.home .dashboard .homeDashRight label {
  justify-content: center;
  flex-direction: column;
}

.home .dashboard label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.home .dashboard label p {
  text-align: end;
  font-weight: 100;
  padding: 0 0.5rem 0;
}

.home .dashboard label span {
  font-weight: 700;
  color: #ebff2e;
  text-align: end;
  padding: 0 0.5rem;
}

.home__mainvisual {
  margin-top: 4.7rem;
  margin-bottom: 2rem;
  background-color: #111;
  width: 100%;
}

.home .home__mainvisual--content {
  height: 480px;
}

.home .home__mainvisual--content img {
  height: 420px;
  background-color: #fff;
}

.home .homeIcon {
  width: 100%;
  margin-top: 7.8rem;
}

.home .homeIcon ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.home .homeIcon ul li {
  width: 16%;
}

.home .homeIcon a {
  display: flex;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  background: no-repeat center/90%;
  box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
  color: #005;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}

.home .homeIcon--hover {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  text-align: center;
  line-height: 10rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(25, 25, 25, 0);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}
.home .homeIcon--hover:hover {
  color: rgba(25, 25, 25, 1);
  background-color: rgba(255, 255, 255, 1);
}

.home .homeAbout {
  margin-top: 4.7rem;
  width: 100%;
}

.home .homeAbout h3 {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  line-height: 5rem;
  color: #fff;
  border: none;
  margin-bottom: 2rem;
}

.home .homeAbout h3 .parallelogram {
  margin: 0.7rem 2rem 0 1rem;
}

.home .homeAbout section {
  position: relative;
}

.home .homeAbout section > p {
  font-weight: 300;
}

.home .homeAbout .aboutExplain button {
  position: absolute;
  top: 4rem;
  right: 0;
}

.home .homeAbout .aboutList ul {
  display: flex;
  justify-content: space-around;
}

.home .homeAbout .aboutList ul li {
  width: 30rem;
  height: 41rem;
  background-color: #fff;
  color: #000;
  box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
  border-radius: 25px;
  padding: 2rem;
  position: relative;
  margin-right: 10px;
}

.home .homeAbout .aboutList ul li div {
  height: 20rem;
  background-repeat: no-repeat;
  background-size: 12rem auto;
}

.home .homeAbout .aboutList ul li button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.home .homeAbout .aboutList ul li p {
  word-break: keep-all;
}

@media only screen and (max-width: 767px) {
  .home .header .localNavigation {
    height: auto;
  }
  .home .dashboard {
    padding: 0 0 8px 0;
    flex-direction: column;
    margin: 0;
  }
  .home .header .dashboard > div {
    width: 100%;
  }
  .home .header .dashboard .homeDashRight {
    padding: 0;
    border: 0;
  }
  .home .header .dashboard .homeDashLeft {
    padding: 0;
    border: 0;
  }
  .home .header .dashboard label p {
    padding: 0 1rem;
  }

  div > .home > .container {
    padding: 0;
    padding-bottom: 0;
  }
  .home .container .mainVisual {
    background: no-repeat top/cover;
  }
  .home .container .homeIcon ul {
    padding: 0;
  }
  .home .container .homeIcon ul li {
    width: 33.3%;
    padding: 1rem;
  }

  .home .homeAbout .aboutExplain button {
    display: none;
  }
  .home .homeAbout .aboutList ul {
    flex-direction: column;
  }
  .home .container .homeAbout h3 {
  }
  .home .container .homeAbout .aboutList ul li {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }
  .home .container .homeAbout .aboutList ul li div {
    height: 13rem;
  }
  .home .homeAbout .aboutList ul li button {
    display: none;
  }
}
