.home > .container {
	margin: 0rem auto 16rem;
	padding-bottom: 15rem;
	padding-top: 0;
	display: flex;
	flex-wrap: wrap;
}

.home .localNavigation {
	height: 6rem;
}

.home .dashboard {
	padding: 0;
	width: 100%;
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0; */
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.home .dashboard > div {
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
}

.home .dashboard > div label:last-child span {
	color: #000;
}

.home .dashboard .homeDashLeft {
	padding-left: 15%;
	border-right: 1px solid #bbb;
}

.home .dashboard .homeDashRight {
	padding-right: 15%;
}

.home .dashboard .homeDashLeft label {
	justify-content: center;
}

.home .dashboard .homeDashRight label {
	justify-content: center;
}

.home .dashboard label {
	display: flex;
	width: 100%;
	height: 50%;
	align-items: center;
	flex-wrap: wrap;
	font-size: 2rem;
	margin: 0;
}

.home .dashboard label p {
	text-align: end;
	font-weight: 100;
	padding: 0.4rem 0.5rem 0;
}

.home .dashboard label span {
	font-size: 2.6rem;
	font-weight: 700;
	color: #0f78ff;
	text-align: end;
	padding: 0 0.5rem;
}

.home .mainVisual {
	width: 100%;
	height: 46.4rem;
	margin-top: 4.7rem;
	/* background-image: url(${mainVisual1}); */
	background: no-repeat top/contain url(../../images/mainVisual1.png);
	text-indent: -9999rem;
}

.home .homeIcon {
	width: 100%;
	/* position: absolute;
	top: 66rem;
	left: 0; */
	margin-top: 7.8rem;
}

.home .homeIcon ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 10rem;
}

.home .homeIcon ul li {
	width: 16%;
}

.home .homeIcon a {
	display: flex;
	width: 10rem;
	height: 10rem;
	border-radius: 1rem;
	background: no-repeat center/90%;
	box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
	/* height:100px; */
	color: #005;
	padding: 1rem;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-end;
}

.home .homeIcon p {
	font-size: 2rem;
	color: #333;
	font-weight: 300;
	padding-top: 1rem;
	text-align: center;
}

.home .homeIcon .btnCustomer {
	background-image: url(../../images/btnCustomer.png);
}

.home .homeIcon .btnExercise {
	background-image: url(../../images/btnExercise.png);
}

.home .homeIcon .btnSales {
	background-image: url(../../images/btnSales.png);
}

.home .homeIcon .btnStatic {
	background-image: url(../../images/btnStatic.png);
}

.home .homeIcon .btnSetting {
	background-image: url(../../images/btnSetting.png);
}

.home .homeAbout {
	margin-top: 4.7rem;
	width: 100%;
}

.home .homeAbout h3 {
	display: flex;
	flex-direction: row;
	font-size: 5rem;
	font-weight: 700;
	line-height: 5rem;
	color: #213449;
	border: none;
	margin-bottom: 2rem;
}

.home .homeAbout h3 .parallelogram {
	margin: 0.7rem 2rem 0 1rem;
}

.home .homeAbout section {
	position: relative;
}

.home .homeAbout section > p {
	font-size: 1.9rem;
	font-weight: 300;
}

.home .homeAbout .aboutExplain button {
	position: absolute;
	top: 4rem;
	right: 0;
}

.home .homeAbout .aboutList ul {
	display: flex;
	justify-content: space-around;
}

.home .homeAbout .aboutList ul li {
	width: 30rem;
	height: 41rem;
	box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
	border-radius: 25px;
	padding: 2rem;
	position: relative;
}

.home .homeAbout .aboutList ul li div {
	height: 20rem;
	background-repeat: no-repeat;
	background-size: 12rem auto;
}

.home .homeAbout .aboutList ul li:nth-child(1) div {
	background-image: url(/src/images/aboutProduct.png);
}
.home .homeAbout .aboutList ul li:nth-child(2) div {
	background-image: url(/src/images/aboutExercise.png);
}
.home .homeAbout .aboutList ul li:nth-child(3) div {
	background-image: url(/src/images/aboutManage.png);
}

.home .homeAbout .aboutList ul li button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1rem;
}

.home .homeAbout .aboutList ul li p {
	word-break: keep-all;
}
