.home .localNavigation {
  height: 4.2rem;
}

.home .dashboard {
  padding: 0;
  width: 100%;
  /* position: absolute;
	top: 0;
	left: 0;
	right: 0; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

.home .dashboard > div {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
}

.home .dashboard > div label:last-child span {
  color: #fff;
}

.home .dashboard .homeDashLeft label {
  justify-content: center;
  flex-direction: column;
}

.home .dashboard .homeDashRight label {
  justify-content: center;
  flex-direction: column;
}

.home .dashboard label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.home .dashboard label p {
  text-align: end;
  font-weight: 100;
  padding: 0 0.5rem 0;
}

.home .dashboard label span {
  font-weight: 700;
  color: #ebff2e;
  text-align: end;
  padding: 0 0.5rem;
}

.home__mainvisual {
  margin-top: 4.7rem;
  margin-bottom: 2rem;
  background-color: #333;
  box-shadow: 0 6px 7px rgba(20, 20, 20, 0.7);
  width: 100%;
}

.home .home__mainvisual--content {
  height: 480px;
}

.home .home__mainvisual--content img {
  height: 420px;
  background-color: #fff;
}

.home .home__shortcut {
  /* width: 100%; */
  margin-top: 2rem;
}

.home .home__shortcut a {
  display: block;
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  background: no-repeat center/90%;
  box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
  color: #005;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}

.home .home__shortcut--hover {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  text-align: center;
  line-height: 10rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgba(25, 25, 25, 0.4);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
  cursor: pointer;
}
.home .home__shortcut--hover:hover {
  color: rgba(25, 25, 25, 1);
  background-color: rgba(255, 255, 255, 0.8);
}

.home .homeAbout h3 {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  line-height: 5rem;
  color: #fff;
  border: none;
  margin-bottom: 2rem;
}

.home .homeAbout h3 .parallelogram {
  margin: 0.7rem 2rem 0 1rem;
}

.home .homeAbout section > p {
  font-weight: 300;
}

.home .homeAbout .aboutExplain button {
  position: absolute;
  top: 4rem;
  right: 0;
}

.home .homeAbout .about-list img {
  height: 300px;
}

.home .homeAbout .about-list .home__about-list--content {
  height: 466px;
  background-color: #fff;
  color: #000;
  box-shadow: 6px 4px 11px rgba(187, 187, 187, 0.75);
  border-radius: 25px;
  padding: 2rem;
}

.home .homeAbout .about-list .home__about-list--content p {
  word-break: keep-all;
}

@media only screen and (max-width: 767px) {
  .home .container {
    margin: 0px auto 3rem;
  }
  .home__main-visual--image-box {
    background-color: #fff;
  }
  .home .home__mainvisual--content img {
    width: 180px;
    height: auto;
  }
  .home .homeAbout h3 {
    flex-wrap: wrap;
    line-height: 1.6rem;
    margin-bottom: 0.6rem;
  }
  .home .homeAbout h3 .parallelogram {
    margin: 1.2rem 1rem 0 0;
    height: 2.2rem;
  }
  .home .home__shortcut a {
    width: 7rem;
    height: 7rem;
  }
  .home .home__shortcut--hover {
    display: none;
  }
  .home .homeAbout .about-list img {
    height: 130px;
  }
  .home .homeAbout .about-list .home__about-list--content {
    height: 340px;
    margin-bottom: 16px;
  }
}
