.salesCustomer {
	padding-bottom: 3rem;
}

.salesCustomer span {
	font-size: 2.4rem;
	font-weight: bold;
	padding: 0.6rem;
}

.productPay button {
	margin: 0 auto;
	display: flex;
	width: 34%;
	height: 5rem;
	justify-content: center;
	align-items: center;
}

.addSales > .container > div > button {
	width: 20rem;
}

@media (max-width: 767px) {
	.productPay button {
		width: auto;
	}
	.productPay .exerciseType label span {
		padding: 0;
	}
	.addSales > .container > div {
		text-align: center;
	}
}
