.salesContainer {
    width:1080px;
    margin:0 auto;
    padding-top:6rem;
    padding-bottom:8rem;
}

.salesUtill{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem 0 1rem;
}

.salesUtill Button {
    width:15rem;
    background-color:rgb(38, 38, 134);
    border:none;
    border-radius:10px;
}

.addPr {
    font-size:1.5rem;
}

.tableBody {
    text-align:center;
}

.tableContainer {
    border-radius:0;
    border:none;
    border-top:1px solid rgb(0,0,82);
    border-bottom:1px solid rgb(0,0,82);
}

.table thead th {
    border:none;
    height:4rem;
}

.table-bordered td, .table-bordered th {
    border:none;
}
/*
.table2 :hover {
    background-color: #fff;
    border:1px solid rgb(0,0,82);
    border-radius: 5px;
}
전체기록 표의 행에 하버시 css 적용
*/
.table2 .tableHeader {
    border-bottom:1px solid rgb(0,0,82)
}