.inbodies__chart--wrap {
  background-color: #224;
  padding: 30px;
  margin: 10px 0;
}

.tab-content {
  background-color: #fff;
}

.apexcharts-legend-series .apexcharts-legend-text {
  color: #ebff2e !important;
}

.apexcharts-inactive-legend .apexcharts-legend-text {
  color: #fff !important;
}

.apexcharts-yaxis-label {
  fill: #fff;
}

.apexcharts-xaxis-label {
  fill: rgb(255, 255, 255);
}

.apexcharts-tooltip {
  color: #000;
}

.inbodies .inbodies__user__information--mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .inbodies__chart--wrap {
    padding: 0;
  }
  .MuiTable-root .MuiTableCell-root {
    text-align: center;
  }
  .inbodies .inbodies__user__information--mobile {
    background-color: #fff;
    height: 5rem;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    margin: 0 4px 10px;
  }
  .inbodies .inbodies__table--mobile {
    display: none;
  }
  .inbodies .tab-content .MuiTable-root .MuiTableCell-root {
    padding: 4px;
  }
}
