.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  font-size: 0.8rem;
  font-weight: 300;
  color: #999;
  padding: 40px 0;
}
.footer-in {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-in .copy {
  flex: 50%;
  padding-left: 1rem;
}
.footer-in .footerUtill {
  flex: 50%;
  text-align: end;
}
.footer-in .footerUtill a {
  padding: 0 3rem;
  border-left: 1px solid #999;
}
.footer-in .footerUtill a:first-child {
  border: none;
}
.footer-in .footerCompany {
  flex: 100%;
}
.footer-in .footerCompany span {
  padding: 0 1rem;
}

@media (max-width: 767px) {
  div > .footer {
    height: auto;
  }
  .footer-in {
    flex-direction: column;
  }
  .footer-in .copy {
    text-align: center;
    padding-bottom: 1rem;
  }
  .footer-in .footerUtill {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-in .footerUtill a {
    text-align: center;
    border: 0;
    font-weight: 500;
    padding: 0.4rem;
  }
  .footer-in .footerCompany {
    display: flex;
    flex-direction: column;
  }
  .footer-in .footerCompany span {
    text-align: center;
  }
  .footer-in .footerCompany a {
    text-align: center;
    font-weight: 500;
    padding: 0.4rem;
  }
}
