.class-time-table {
  position: relative;
}

.class-time-table .class-time-table__btn {
  width: 100px;
  height: 100px;
  background-color: #35333d;
  border-radius: 10px;
  border: 1px solid #888;
  position: fixed;
  left: 5%;
  z-index: 1;
}

.class-time-table__btn > .MuiSvgIcon-root {
  width: 100%;
  font-size: 40px;
}

.MuiDrawer-root .MuiPaper-root {
  padding: 30px 20px;
  background-color: #111;
}

.class-time-table__box {
  width: 500px;
  height: 100%;
  background-color: #111;
  text-align: center;
  color: #fff;
  white-space: nowrap;
}

.class-time-table__box .class-time-table__select {
  margin: 20px 0;
}

.class-time-table__box .class-time-table__select .MuiInputBase-root {
  background-color: rgba(255, 255, 255, 1);
}
.class-time-table__box .class-time-table__select .MuiInputBase-root:hover {
  background-color: #ddd;
}
.class-time-table__box .class-time-table__select .MuiInputBase-root:focus {
  background-color: rgba(255, 255, 255, 1);
}
.class-time-table__box .class-time-table__select .MuiInputBase-root:active {
  background-color: rgba(255, 255, 255, 1);
}

#class-time-table__select-id {
  font-size: 16px;
  font-weight: bold;
}

.class-time-table__box__content {
  padding-bottom: 20px;
  overflow: hidden;
}

.class-time-table__box__content > .row {
  border-top: 1px solid #111;
  border-bottom: 3px solid #111;
}

.class-time-table__box__content ul {
  background-color: #333;
}

.class-time-table__box__content ul .row {
  padding: 2px 0;
  align-items: center;
  background-color: #888;
}

.class-time-table__box__content .row span {
  color: #ff9900;
}

.class-time-table__box__content ul .class-time-table__box__content--full {
  background-color: #333;
}

.class-time-table__box__content .class-time-table__box__content--full span {
  color: #fff;
}
/* 시간표 전체 보기 버튼 */
.class-time-table__box > button {
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  /* 홈에서 시간표 여는 버튼 */
  .class-time-table .class-time-table__btn {
    top: 60px;
  }
  /* 모바일에서의 창 가로 길이 */
  .class-time-table__box {
    width: 100%;
  }
  /* 모바일에서 시간표 닫기 버튼 */
  .class-time-table--btn-close {
    text-align: end;
    position: absolute;
    right: 0;
    top: 0;
  }
  .class-time-table--btn-close button {
    padding: 20px;
  }
  .class-time-table--btn-close button svg {
    width: 34px;
    height: auto;
  }
}
